.community {
  &__block {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(20px);
    display: flex;
    gap: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }


  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-basis: 50%;
    justify-content: center;
  }

  &__previews {
    flex-basis: 50%;
  }


  &__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
  }

  &__text {
  }
  &__previews {
    display: flex;
    gap: 40px;
  }

  &__prev-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__btn {
    border-radius: 15px;
    background: linear-gradient(90deg, #439CFB 7.15%, #F187FB 105.21%);
    color: $white;
    font-weight: 700;
    padding: 18px 84px;
    transition: all .3s ease-in-out;
    z-index: 10;
  
    &:hover {
      background: linear-gradient(180deg, #439CFB 7.15%, #F187FB 105.21%);
      color: $fontColor;
    }
  }
}