.speakers {

  &__container {
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
  }


  &__block {
  }

  

  &__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;

    @include laptop {
        font-size: 60px;
        line-height: 75px;
      }
    
      @include tablet {
        font-size: 50px;
        line-height: 45px;
      }
    
      @include mobile {
        font-size: 30px;
        line-height: 35px;
      }
  }

  &__arrow {
    position: absolute;
    z-index: 15;
    
    &_left {
      top: 50%;
      left: 0;
    }

    &_right {
      top: 50%;
      right: 0;
    }
  }

  &__svg {

  }

  &__list {
    display: flex;
  }

  &__item {
    display: flex !important;
    flex-direction: column;
    width: 280px;
    gap: 20px !important;
    text-align: center;
  }

  &__item-img {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray;
  }

  &__img {
  }

  &__subitem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
  }

  &__subtitle {
    font-family: Arial;
    font-size: 27px;
    font-weight: 700;
  }

  &__text {
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    font-weight: 400;
  }
}